body {
  text-align: center;
  background-color: #f0e8c5;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

.no-code {
    color: blue;
    font-size: larger;
}

.textBox
{
  height:30px;
  width:300px;
  font-size: larger;
}

button
{
  height:30px;
  width:150px;
/*  border-radius:8px;*/
  padding:10px;
  font-size:20px;
/*  font-family: 'Oswald', sans-serif;*/
/*  height:52px;*/
  cursor:pointer;
/*  background-color:wheat;*/
}
