body {
  text-align: center;
  background-color: #f0e8c5;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

.no-code {
    color: blue;
    font-size: larger;
}

.textBox
{
  height:30px;
  width:300px;
  font-size: larger;
}

.button-copy
{
  height:40px;
  width:150px;
  padding:10px;
  font-size:15px;
  cursor:pointer;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    height:40px;
    width:300px;
    text-decoration: none;
    color: blue;
}
